body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/images/loginB.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.form-registration {
    position: relative;
    top: 5%;
    left: 45%;
    transform: translate(-15%, 20%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 270px;
    box-shadow: 0 0 10px 5px black;
}

.form-registration h1 {
    text-align: center;
    color: white;
    letter-spacing: 5px;
    padding-top: 45px;
}

.form-floating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
    padding: 8px 0;

}

.form-floating input {
    width: 100%;
    padding: 0 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.form-floating input::placeholder {
    color: white;
}

.form-group {
    width: 290pxpx;
    position: relative;
    margin-bottom: 10px;


}

.form-group select {
    height: 30px;
    padding: 5px 10px;
    line-height: 18px;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
}

.form-group:after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -4px;
    border-top: 8px solid #ccc;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

.form-group select:focus {
    border: 2px solid red;
}

.register {
    width: 100%;
    background: none;
    pad: 15px;
    border: 1px solid white;
    font-size: 18px;
    letter-spacing: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.register:hover {
    background: rgba(255, 3, 3, 0.8);
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.bottom a {
    color: white;
    font-size: 14px;
    text-decoration: none;

}

.bottom a:hover {
    text-decoration: underline;
}

.img {
    width: 80 px;
    height: 80px;
    text-align: center;
    left: 20%;
    top: 0;
    position: fixed;

}
